@import "buttons/buttons";
@import "footer/footer";
@import "header/header";
@import "sandwich/sandwich";
@import "navigation/navigation";
@import "small/small";
@import "form/form";
@import "modal/modal";


@import "section/banner";
@import "section/advantages";
@import "section/materials";
@import "section/about";
@import "section/catalog";
@import "section/news";
@import "section/feedback";
@import "section/strengths";
@import "section/economize";
@import "section/conditions";
@import "section/contacts";




