extends template/main

block variables
  - var title = 'Посадочная страница'
  - var pageClass = 'landing-page'



block content
  include modules/section/banner
  include modules/section/strengths
  include modules/section/advantages
  include modules/section/materials
  include modules/section/conditions
  include modules/section/economize
  include modules/section/contacts
  include modules/section/feedback