.s-feedback {
  padding: 80px 0;
  @include media($mobile) { padding: 60px 0; }
}

.feedback {
  border-radius: 20px;
  overflow: hidden;
  padding: 110px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  @include media($tablet) { padding: 80px; }
  @include media($mobile) { padding: 75px 20px; }
  &__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 4.323vw;
    line-height: 100%;
    text-align: center;
    color: var(--primary);
    margin-bottom: 16px;
    span {
      color: rgba(255, 255, 255, 0.92);
    }
    @include media($tablet) { font-size: 43px; }
  }
  &__text {
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    a {
      color: rgba(255, 255, 255, 0.9);
      font-weight: 600;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
    @include media($tablet) { font-size: 16px; }
  }
  &__form {
    margin-top: 50px;
    @include media($tablet) { margin-top: 30px; }
    @include media($mobile) { margin-top: 20px; }
    .Button {
      @include media($ipad) { width: 100%; }
    }
  }
}