.news {
  $this: &;
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    @include media($tablet) { grid-template-columns: repeat(2, minmax(0, 1fr)); }
    @include media($mobile) { grid-template-columns: repeat(1, minmax(0, 1fr)); }
  }
  &__item {
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    padding: 40px;
    color: var(--light-grey);
    @include media($desktop) { 
      padding: 30px;
      border-radius: 15px;
    }
    @include media($mobile) {
      padding: 30px 20px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 98%;
    font-family: var(--second-family);
    margin-bottom: 16px;
    @include media($desktop) {
      font-size: 30px;
      margin-bottom: 12px;
    }
    @include media($mobile) { font-size: 24px; }
  }
  &__descr {
    font-size: 22px;
    line-height: 127%;
    @include line-clamp(4);
    @include media($desktop) {
      font-size: 17px;
      line-height: 124%;
    }
    @include media($mobile) { font-size: 16px; line-height: 131%; }
  }
  &__date {
    color: #838383;
    @include media($desktop) { font-size: 14px; }
  }
  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    @include media($mobile) { margin-top: 10px; }
  }
  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    @include media($desktop) { margin-top: 30px; }
    @include media($mobile) { 
      margin-top: 20px;
      .Button { width: 100%; }
    }
  }
}