.section.s-about 
  .container 
    .about
      .about__inner
        .about__item(style="background-image: url('static/images/img/about/1.jpg')")
          .about__title 
            | Доставка 
            br
            | по россии
        .about__item(style="background-image: url('static/images/img/about/2.jpg')")
          .about__title 
            | На рынке 
            br
            | с 2013 года
          a(href="#").Button.Button_Red Заказать звонок
        .about__item(style="background-image: url('static/images/img/about/3.jpg')")
          .about__title Бригадирам, прорабам и своим