section.section.s-advantages
  .container
    h2.section__title
      | 6 причин 
      br
      | работать с нами
    .advantages
      .advantages__inner
        .advantages__item(style="background-image: url('static/images/img/advantages/1.png')")
          .advantages__title 35 000+ sku в наличии
          .advantages__descr 
            | От гвоздя до швеллера. 
            br
            | Все нужные товары у одного поставщика.
        .advantages__item(style="background-image: url('static/images/img/advantages/2.png')")
          .advantages__title Быстрая доставка
          .advantages__descr Собственный парк автомобилей и надежные партнеры.
        .advantages__item 
          .advantages__title Экономия 
          .advantages__descr Рыночные цены и прогрессивная шкала скидок.
        .advantages__item 
          .advantages__title Собственное производство 
          .advantages__descr Металлоконструкции и антисептированная доска без наценки.
        .advantages__item(style="background-image: url('static/images/img/advantages/3.png')")
          .advantages__title Персональный менеджер 
          .advantages__descr Принцип "одного окна". Знает ваши потребности, решает вопросы.
        .advantages__item 
          .advantages__title Отсрочка платежей 
          .advantages__descr Для постоянных клиентов.
      .advantages__btn
        a(href="#").Button.Button_Red Заказать звонок
