section.section.s-catalog
  .container 
    h2.section__title Подборки товаров
    .catalog
      .catalog__picture 
        img(src="static/images/img/catalog.png"  alt="Каталог")
      .catalog__btn
        a(href="#").Button.Button_Red Весь каталог