section.section.s-conditions
  .container 
    .conditions(style="background-image: url('static/images/img/conditions/bg.jpg')")
      h2.conditions__title 
        | Первая поставка - 
        br
        span особые условия
      .countdown(data-countdown="23:40:20")
        .countdown__subtitle Предложение действует:
      a(href="#").Button.Button_Red Зафиксировать условия