section.section.s-contacts 
  .container 
    h2.section__title Контакты
    .contacts
      .contacts__inner 
        .contacts__item.single(style="background-image: url('static/images/img/contacts/spb.jpg')")
          .contacts__wrapper
            .contacts__title Санкт-Петербург и ЛО
            .contacts__info
              .contacts__subtitle Отдел продаж:
              .contacts__elem 
                | почта: 
                a(href="mailto:info@tdalfa.com") info@tdalfa.com
              .contacts__elem 
                | тел.: 
                a(href="tel:88007777098") 8 (800) 777-70-98
            .contacts__info
              .contacts__subtitle График работы:
              .contacts__elem с 9:00 до 18:00
        .contacts__item(style="background-image: url('static/images/img/contacts/spb.jpg')")
          .contacts__wrapper
            .contacts__title Санкт-Петербург и ЛО
            .contacts__info
              .contacts__subtitle Отдел продаж:
              .contacts__elem 
                | почта: 
                a(href="mailto:info@tdalfa.com") info@tdalfa.com
              .contacts__elem 
                | тел.: 
                a(href="tel:88007777098") 8 (800) 777-70-98
            .contacts__info
              .contacts__subtitle График работы:
              .contacts__elem с 9:00 до 18:00
        .contacts__item(style="background-image: url('static/images/img/contacts/sochi.jpg')")
          .contacts__wrapper
            .contacts__title Сочи
            .contacts__info
              .contacts__subtitle Отдел продаж:
              .contacts__elem 
                | почта: 
                a(href="mailto:info@tdalfa.com") info@tdalfa.com
              .contacts__elem 
                | тел.: 
                a(href="tel:88007777098") 8 (800) 777-70-98
            .contacts__info
              .contacts__subtitle График работы:
              .contacts__elem с 9:00 до 18:00
        .contacts__item(style="background-image: url('static/images/img/contacts/msk.jpg')")
          .contacts__wrapper
            .contacts__title Москва и МО
            .contacts__info
              .contacts__subtitle Отдел продаж:
              .contacts__elem 
                | почта: 
                a(href="mailto:info@tdalfa.com") info@tdalfa.com
              .contacts__elem 
                | тел.: 
                a(href="tel:88007777098") 8 (800) 777-70-98
            .contacts__info
              .contacts__subtitle График работы:
              .contacts__elem с 9:00 до 18:00
        .contacts__item(style="background-image: url('static/images/img/contacts/krd.jpg')")
          .contacts__wrapper
            .contacts__title Краснодар
            .contacts__info
              .contacts__subtitle Отдел продаж:
              .contacts__elem 
                | почта: 
                a(href="mailto:info@tdalfa.com") info@tdalfa.com
              .contacts__elem 
                | тел.: 
                a(href="tel:88007777098") 8 (800) 777-70-98
            .contacts__info
              .contacts__subtitle График работы:
              .contacts__elem с 9:00 до 18:00
        .contacts__item(style="background-image: url('static/images/img/contacts/krdk.jpg')")
          .contacts__wrapper
            .contacts__title Краснодарский край
            .contacts__info
              .contacts__subtitle Отдел продаж:
              .contacts__elem 
                | почта: 
                a(href="mailto:info@tdalfa.com") info@tdalfa.com
              .contacts__elem 
                | тел.: 
                a(href="tel:88007777098") 8 (800) 777-70-98
            .contacts__info
              .contacts__subtitle График работы:
              .contacts__elem с 9:00 до 18:00
        .contacts__item(style="background-image: url('static/images/img/contacts/adler.jpg')")
          .contacts__wrapper
            .contacts__title Адлер
            .contacts__info
              .contacts__subtitle Отдел продаж:
              .contacts__elem 
                | почта: 
                a(href="mailto:info@tdalfa.com") info@tdalfa.com
              .contacts__elem 
                | тел.: 
                a(href="tel:88007777098") 8 (800) 777-70-98
            .contacts__info
              .contacts__subtitle График работы:
              .contacts__elem с 9:00 до 18:00