section.section.s-economize
  .container
    h2.section__title
      | Начните экономить 
      br
      | уже сегодня
    .economize
      .economize__inner 
        .economize__item
          .economize__count
            img(src="static/images/img/economize/1.svg" alt="Оставьте заявку")
          .economize__title 
            | Оставьте 
            br
            | заявку
          .economize__time 2 минуты
        .economize__item
          .economize__count
            img(src="static/images/img/economize/2.svg" alt="Получите расчет и условия")
          .economize__title Получите расчет и условия
          .economize__time 1 час
        .economize__item
          .economize__count
            img(src="static/images/img/economize/3.svg" alt="Согласуйте договор")
          .economize__title 
            | Согласуйте 
            br
            | договор
          .economize__time 1 день
        .economize__item
          .economize__count
            img(src="static/images/img/economize/4.svg" alt="Получите первую поставку")
          .economize__title Получите первую поставку
          .economize__time от 24 часов
      .economize__btn
        a(href="#").Button.Button_Red Получить расчет