section.section.s-materials
  .container 
    h2.section__title
      | Все для 
      br
      | стройки и ремонта
    .materials
      .materials__inner
        .materials__item(style="background-image: url('static/images/img/materials/1.jpg')")
          .materials__bottom
            .materials__title Пиломатериалы
          a(href="#").materials__link.link
            +icon('arrow-link','link__icon')
        .materials__item(style="background-image: url('static/images/img/materials/2.jpg')")
          .materials__bottom
            .materials__title 
              | Металлопрокат 
              br
              | и метизы
          a(href="#").materials__link.link
            +icon('arrow-link','link__icon')
        .materials__item(style="background-image: url('static/images/img/materials/3.jpg')")
          .materials__bottom
            .materials__title 
              | Cухие смеси 
              br
              | и химия
          a(href="#").materials__link.link
            +icon('arrow-link','link__icon')
        .materials__item(style="background-image: url('static/images/img/materials/4.jpg')")
          .materials__bottom
            .materials__title 
              | Изоляция 
              br
              | и утеплители
          a(href="#").materials__link.link
            +icon('arrow-link','link__icon')
        .materials__item(style="background-image: url('static/images/img/materials/5.jpg')")
          .materials__bottom
            .materials__title 
              | Кровельные материалы
          a(href="#").materials__link.link
            +icon('arrow-link','link__icon')
        .materials__item(style="background-image: url('static/images/img/materials/6.jpg')")
          .materials__bottom
            .materials__title 
              | Инструмент 
              br
              | и оборудование
          a(href="#").materials__link.link
            +icon('arrow-link','link__icon')
        .materials__item(style="background-image: url('static/images/img/materials/7.jpg')")
          .materials__bottom
            .materials__title 
              | Cантехника 
              br
              | и электрика 
          a(href="#").materials__link.link
            +icon('arrow-link','link__icon')
        .materials__item(style="background-image: url('static/images/img/materials/8.jpg')")
          .materials__bottom
            .materials__title 
              | Отделочные материалы
          a(href="#").materials__link.link
            +icon('arrow-link','link__icon')
      .materials__btn
        a(href="#").Button.Button_Red Весь каталог