section.section.s-news 
  .container 
    h2.section__title Последние новости
    .news
      .news__inner
        .news__item
          .news__title Открытие склада на парнасе
          .news__descr Открытие дополнительного склада является для ТД Альфа важным этапом реализации расширения ассортимента строительных материалов и инструмента.
          .news__bottom
            .news__date 27 сентября
            a(href="#").news__link.link
              +icon('arrow-link','link__icon')
        .news__item
          .news__title Открытие склада на парнасе
          .news__descr Открытие дополнительного склада является для ТД Альфа важным этапом реализации расширения ассортимента строительных материалов и инструмента.
          .news__bottom
            .news__date 27 сентября
            a(href="#").news__link.link
              +icon('arrow-link','link__icon')
        .news__item
          .news__title Открытие склада на парнасе
          .news__descr Открытие дополнительного склада является для ТД Альфа важным этапом реализации расширения ассортимента строительных материалов и инструмента.
          .news__bottom
            .news__date 27 сентября
            a(href="#").news__link.link
              +icon('arrow-link','link__icon')
      .news__btn
        a(href="#").Button Задать вопрос