section.section.s-strengths
  .container
    h2.section__title
      | Забудьте 
      br
      | о типичных проблемах  
      br
      | снабжения
    .strengths
      .strengths__wrapper
        .strengths__inner
          .strengths__top
            .strengths__title С нами
            .strengths__title С другими
          .strengths__list
            .strengths__item
              .strengths__img
                +icon('mark','strengths__icon')
              .strengths__text 
                | Один поставщик, 
                br
                | один договор
            .strengths__item.error
              .strengths__img
                +icon('error','strengths__icon')
              .strengths__text Несколько поставщиков для одного объекта
            .strengths__item
              .strengths__img
                +icon('mark','strengths__icon')
              .strengths__text Собственный автопарк, доставка точно в срок
            .strengths__item.error
              .strengths__img
                +icon('error','strengths__icon')
              .strengths__text 
                | Срыв сроков 
                br
                | из-за логистики
            .strengths__item
              .strengths__img
                +icon('mark','strengths__icon')
              .strengths__text Рыночные цены и прогрессивные скидки
            .strengths__item.error
              .strengths__img
                +icon('error','strengths__icon')
              .strengths__text 
                | Переплата 
                br
                | посредникам
            .strengths__item
              .strengths__img
                +icon('mark','strengths__icon')
              .strengths__text Персональный менеджер, замена брака за 48 часов
            .strengths__item.error
              .strengths__img
                +icon('error','strengths__icon')
              .strengths__text Сложность в коммуникации и замене брака
        .strengths__picture
          img(src="static/images/img/strengths/inage.jpg" alt="Картинка")
      .strengths__btn 
        a(href="#").Button.Button_Red Получить расчет
